:root {
  --color-timeline: #D1D5DB;
  --color-dot: #3B82F6;
  --color-title: #1F2937;
  --color-detail: #6B7280;
  --color-card-bg: #F3F4F6;
  --color-action: #10B981;
  --font-main: 'Roboto', sans-serif;
  --color-timeline-line: #000000; /* cor preta para a linha da timeline */
}

body, button {
  font-family: var(--font-main);
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha ao início para a timeline à esquerda */
  position: relative;
  width: 750px;
  margin: 16px auto 16px auto;
  &:after { /* Isso criará um pseudo-elemento que servirá como a linha da timeline */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 2px);
    width: 4px; /* Largura da linha da timeline */
    background: var(--color-timeline-line); /* Cor da linha da timeline */
    z-index: 1; /* Certifique-se de que está atrás dos pontos azuis */
  }
}

.timeline-item {
  display: flex;
  align-items: center; /* Isto vai centralizar os elementos verticalmente */
  position: relative; /* Posicionamento relativo para o posicionamento absoluto dos filhos */
  margin-bottom: 40px; /* Espaço entre os itens da linha do tempo */
  width: 100%;
}


/* .timeline-item:nth-child(odd) .timeline-dot {
  left: calc(0% - 8px); /* Posiciona à esquerda do conteúdo 
} */ 


.timeline-item:nth-child(odd)  {
  text-align: left;
  justify-content: flex-end;
}


/* .timeline-item:nth-child(even) .timeline-dot {
  right: calc(0% - 8px); /* Posiciona à direita do conteúdo 
} */


.timeline-item:nth-child(even)  {
  text-align: right;
  justify-content: flex-start;
  
}


.timeline-dot {
  background-color: var(--color-dot);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  z-index: 2;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px); /* Posiciona à esquerda do conteúdo */


}

.timeline-date {
  font-size: 14px;
  font-style: italic;
  color: var(--color-detail);
  white-space: nowrap;
}

.timeline-content {
  
  padding: 20px;
  background-color: var(--color-card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 350px;
}

.timeline-content h2 {
  color: var(--color-title);
  font-size: 18px;
}

.timeline-content p {
  color: var(--color-detail);
  font-size: 16px;
}

.error, .loading {
  color: var(--color-action);
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 768px) {
  .timeline-container {
    width: 600px;
  }

  .timeline-content {
    width: 250px;
  }

  .timeline-item {
    flex-direction: row;
  }

  .timeline-item:nth-child(odd) .timeline-content {
    order: -1; /* Inverte a ordem no desktop para ímpares à esquerda */
  }

  .timeline-item .timeline-content {
    grid-column: 1;
  }
  
}

@media screen and (max-width: 618px) {
  .timeline-container {
    width: 100%;
    &:after { /* Isso criará um pseudo-elemento que servirá como a linha da timeline */
      
      left: calc(20% - 2px);
      
    }

  }

  .timeline-dot {
    left: calc(20% - 8px); /* Posiciona à esquerda do conteúdo */
  }

  .timeline-item:nth-child(odd)  {
    text-align: left;
    justify-content: center;
  }
   
  .timeline-item:nth-child(even)  {
    text-align: left;
    justify-content: center;
    
  }
  
}

@media screen and (max-width: 490px) {
  .timeline-container {
    &:after { /* Isso criará um pseudo-elemento que servirá como a linha da timeline */
      
      left: calc(10% - 2px);
      
    }
  }

  .timeline-dot {
    left: calc(10% - 8px); /* Posiciona à esquerda do conteúdo */
  }
  
}

@media screen and (max-width: 360px) {
  .timeline-container {
    &:after { /* Isso criará um pseudo-elemento que servirá como a linha da timeline */
      
      left: calc(4% - 2px);
      
    }
  }

  .timeline-dot {
    left: calc(4% - 8px); /* Posiciona à esquerda do conteúdo */
  }
  
}

button {
  background-color: var(--color-action);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* transition: background-color 0.3s; */
}

/* button:hover {
  background-color: darken(var(--color-action), 10%);
} */